/*
 * Sass Baseado no Atomic Design, módulos e reaproveitamento de código
 * https://chocoladesign.com/blog/designsystems/atomic-design-e-a-componentizacao-de-interfaces/
 */

.container-fluid{
	max-width: 1640px;
	padding: 0px 15px 40px;
}

h3, h4, h5, h6{
	font-family: 'Baloo';
}
p{
	font-family: 'Lato';
  	font-style: normal;
}

#breadcrumbs{
	background: $azulC;
	padding: 18px 0px 5px;
	.container-fluid{
		padding: 0px 15px!important;
	}
	#crumbs{
		margin-bottom: 10px;
		color: #fff;
		font-family: lato;
		br{
			display: none;
		}
		a{
			color: #fff;
			font-weight: 300;
			&:hover{
				text-decoration: none;
				color: $verde;
			}
		}
		.current{
			font-weight: 600;
		}
	}
}

.content_azul{
	background: #012940;
    color: #b8ce33;
    font-family: lato;
    font-size: .9rem;
    padding: 14px 10px;
    width: 100%;
    height: 70px;
    margin-bottom: 0px;
    text-align: center;
   .titulo{
    	width: 70%;
		display: inline-block;
		padding-right: 4%;
		text-align:left;
    }
    .img{
    	max-width: 29%;
		display: inline-block;
		vertical-align: top;
		img{
			width: 100%;
		}
    }
}

.btn_verde{
    background: #b8ce33;
    padding: 13px 31px;
    font-family: Lato;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .8px;
    border-radius: 3px;
    font-size: 0.7rem;
    margin: 0px 0.8%;
    &:hover{
    	opacity: 0.8;
    	filter: alpha(opacity=80);
    	text-decoration: none;
    	color: #fff;
    }
}

.btn_rosa{
	background: $rosa;
	color: #fff;
	display: block;
	text-align: center;
	padding: 11px;
	border-radius: 3px;
	font-family: lato;
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 400;
	letter-spacing: 0.9px;
	&:hover{
    	opacity: 0.9;
    	filter: alpha(opacity=90);
    	text-decoration: none;
    	color: #fff;
    }
}